* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
}
.container .row [class*=col-] {
  min-height: 1px;
  padding: 2rem 1rem;
}
@media (min-width: 750px) {
  .container .row [class*=col-] {
    padding: 2rem;
  }
}
.container .row .col-xs-1 {
  width: 8.3333333333%;
}
.container .row .col-xs-2 {
  width: 16.6666666667%;
}
.container .row .col-xs-3 {
  width: 25%;
}
.container .row .col-xs-4 {
  width: 33.3333333333%;
}
.container .row .col-xs-5 {
  width: 41.6666666667%;
}
.container .row .col-xs-6 {
  width: 50%;
}
.container .row .col-xs-7 {
  width: 58.3333333333%;
}
.container .row .col-xs-8 {
  width: 66.6666666667%;
}
.container .row .col-xs-9 {
  width: 75%;
}
.container .row .col-xs-10 {
  width: 83.3333333333%;
}
.container .row .col-xs-11 {
  width: 91.6666666667%;
}
.container .row .col-xs-12 {
  width: 100%;
}
@media (min-width: 750px) {
  .container .row .col-sm-1 {
    width: 8.3333333333%;
  }
}
@media (min-width: 750px) {
  .container .row .col-sm-2 {
    width: 16.6666666667%;
  }
}
@media (min-width: 750px) {
  .container .row .col-sm-3 {
    width: 25%;
  }
}
@media (min-width: 750px) {
  .container .row .col-sm-4 {
    width: 33.3333333333%;
  }
}
@media (min-width: 750px) {
  .container .row .col-sm-5 {
    width: 41.6666666667%;
  }
}
@media (min-width: 750px) {
  .container .row .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 750px) {
  .container .row .col-sm-7 {
    width: 58.3333333333%;
  }
}
@media (min-width: 750px) {
  .container .row .col-sm-8 {
    width: 66.6666666667%;
  }
}
@media (min-width: 750px) {
  .container .row .col-sm-9 {
    width: 75%;
  }
}
@media (min-width: 750px) {
  .container .row .col-sm-10 {
    width: 83.3333333333%;
  }
}
@media (min-width: 750px) {
  .container .row .col-sm-11 {
    width: 91.6666666667%;
  }
}
@media (min-width: 750px) {
  .container .row .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .container .row .col-md-1 {
    width: 8.3333333333%;
  }
}
@media (min-width: 1024px) {
  .container .row .col-md-2 {
    width: 16.6666666667%;
  }
}
@media (min-width: 1024px) {
  .container .row .col-md-3 {
    width: 25%;
  }
}
@media (min-width: 1024px) {
  .container .row .col-md-4 {
    width: 33.3333333333%;
  }
}
@media (min-width: 1024px) {
  .container .row .col-md-5 {
    width: 41.6666666667%;
  }
}
@media (min-width: 1024px) {
  .container .row .col-md-6 {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .container .row .col-md-7 {
    width: 58.3333333333%;
  }
}
@media (min-width: 1024px) {
  .container .row .col-md-8 {
    width: 66.6666666667%;
  }
}
@media (min-width: 1024px) {
  .container .row .col-md-9 {
    width: 75%;
  }
}
@media (min-width: 1024px) {
  .container .row .col-md-10 {
    width: 83.3333333333%;
  }
}
@media (min-width: 1024px) {
  .container .row .col-md-11 {
    width: 91.6666666667%;
  }
}
@media (min-width: 1024px) {
  .container .row .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 1900px) {
  .container .row .col-lg-1 {
    width: 8.3333333333%;
  }
}
@media (min-width: 1900px) {
  .container .row .col-lg-2 {
    width: 16.6666666667%;
  }
}
@media (min-width: 1900px) {
  .container .row .col-lg-3 {
    width: 25%;
  }
}
@media (min-width: 1900px) {
  .container .row .col-lg-4 {
    width: 33.3333333333%;
  }
}
@media (min-width: 1900px) {
  .container .row .col-lg-5 {
    width: 41.6666666667%;
  }
}
@media (min-width: 1900px) {
  .container .row .col-lg-6 {
    width: 50%;
  }
}
@media (min-width: 1900px) {
  .container .row .col-lg-7 {
    width: 58.3333333333%;
  }
}
@media (min-width: 1900px) {
  .container .row .col-lg-8 {
    width: 66.6666666667%;
  }
}
@media (min-width: 1900px) {
  .container .row .col-lg-9 {
    width: 75%;
  }
}
@media (min-width: 1900px) {
  .container .row .col-lg-10 {
    width: 83.3333333333%;
  }
}
@media (min-width: 1900px) {
  .container .row .col-lg-11 {
    width: 91.6666666667%;
  }
}
@media (min-width: 1900px) {
  .container .row .col-lg-12 {
    width: 100%;
  }
}

.main__container {
  width: 100%;
  padding: 15px;
}
@media (min-width: 1200px) {
  .main__container {
    max-width: 1200px;
    padding: 2rem 0;
    margin: 0 auto;
  }
}

.img {
  width: 100%;
  height: auto;
}

.title {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  color: #111576;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.5rem;
}

.txt {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #000489;
  margin-top: 2rem;
}

.upMenu__container {
  height: 100px;
  box-shadow: 0 3px 6px #726d6d;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f1f1f1;
}

.upMenu__bar {
  width: 100%;
  padding: 0 15px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upMenu__box__logo {
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 1px #9d9898;
}

.upMenu__logo {
  height: 100%;
  width: auto;
}

.upMenu__nav {
  position: relative;
}
@media (min-width: 750px) {
  .upMenu__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
  }
}

.hamburger__box__btn {
  background-color: transparent;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 20px;
}
@media (min-width: 750px) {
  .hamburger__box__btn {
    display: none;
  }
}
.hamburger__box__btn .hamburger__btn {
  width: 100%;
  height: 4px;
  background-color: #444;
  position: relative;
}
.hamburger__box__btn .hamburger__btn::before, .hamburger__box__btn .hamburger__btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #444;
  position: absolute;
}
.hamburger__box__btn .hamburger__btn::before {
  top: -10px;
}
.hamburger__box__btn .hamburger__btn::after {
  bottom: -10px;
}

.hamburger__checkbox {
  opacity: 0;
  position: absolute;
  top: -10px;
  right: 20px;
  width: 30px;
  height: 25px;
}
@media (min-width: 750px) {
  .hamburger__checkbox {
    display: none;
  }
}

.upMenu__menu {
  background-color: #f1f1f1;
  position: absolute;
  right: 0;
  text-align: right;
  transform: translateY(-200%);
  transition-duration: 0.5s;
}
@media (min-width: 750px) {
  .upMenu__menu {
    background-color: transparent;
    transform: translateY(0);
    transition-duration: 0s;
    position: static;
  }
}

.upMenu__menu__list a {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: #111576;
  color: #444;
  text-transform: uppercase;
}
.upMenu__menu__list:hover {
  transform: scale(1.1);
}
@media (min-width: 750px) {
  .upMenu__menu__list {
    display: inline-block;
    margin-left: 2rem;
  }
  .upMenu__menu__list a {
    text-shadow: 0 0 4px #726d6d;
  }
}

.hamburger__checkbox:checked + .upMenu__menu {
  transform: translateY(70px);
  text-align: right;
  background-color: #f1f1f1;
  padding: 10px;
}

.hamburger__checkbox:checked + .hamburger__box__btn {
  background-color: red;
}

.my {
  padding-top: 100px;
}

.my__box__txt {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 6px #726d6d;
  order: 1;
}

.main__title {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: #111576;
  text-align: center;
}

.my__txt {
  text-align: justify;
}

.my__box__img {
  background-image: url("../images/leszek-logo1.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  background-blend-mode: difference;
  width: 100%;
  height: 360px;
  border-radius: 8px;
  position: relative;
}

.my__img {
  box-shadow: 0 0 6px #726d6d;
  border-radius: 8px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
.my__img:nth-child(1) {
  -webkit-animation-name: img-change-1;
          animation-name: img-change-1;
}
.my__img:nth-child(2) {
  -webkit-animation-name: img-change-2;
          animation-name: img-change-2;
}
.my__img:nth-child(3) {
  -webkit-animation-name: img-change-3;
          animation-name: img-change-3;
}
.my__img:nth-child(4) {
  -webkit-animation-name: img-change-4;
          animation-name: img-change-4;
}
@-webkit-keyframes img-change-1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes img-change-1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes img-change-2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes img-change-2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes img-change-3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes img-change-3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes img-change-4 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes img-change-4 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.offer {
  background-color: #eeeeee;
  padding-top: 100px;
}

.offer__box__img {
  border-radius: 50%;
}
@media (min-width: 750px) {
  .offer__box__img {
    height: 215px;
  }
}

.offer__img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 6px #726d6d;
}

.offer__title {
  text-align: center;
  margin-top: 2rem;
}

.offer__txt {
  text-align: justify;
}

.offer__column:nth-of-type(2) .img {
  order: 2;
}

@media (min-width: 750px) and (max-width: 1023px) {
  .offer__row .offer__column:last-child {
    display: inline-block;
  }
  .offer__row .offer__column:last-child::after, .offer__row .offer__column:last-child::before {
    content: "";
    display: block;
    clear: both;
  }
  .offer__row .offer__column:last-child .offer__box__img,
.offer__row .offer__column:last-child .offer__img {
    border-radius: 0;
    float: left;
    width: 305px;
    height: auto;
    margin: 0 1em 0 0;
  }
  .offer__row .offer__column:last-child .offer__title {
    margin: 0 0 2rem 2rem;
    line-height: 1em;
  }
}

.realization {
  box-shadow: -3px 0 6px #726d6d;
  padding: 100px 0;
}

.galley__box {
  background-color: #f1f1f1;
  border-radius: 8px;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow: auto;
  padding: 1rem;
}

.realization__img {
  height: 100%;
  width: auto;
  box-shadow: 0 0 6px #726d6d;
  border-radius: 8px;
  margin: 0 1rem;
}

.contact {
  padding-top: 100px;
}
.contact .row .title {
  padding-bottom: 0;
}
.contact .contact__box {
  padding: 1rem;
}
.contact .contact__box .company__name {
  padding-top: 0;
}

.company__name {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  color: #111576;
  text-align: left;
}
.company__name span {
  font-size: 1.5rem;
  font-weight: 300;
}
.company__name strong {
  text-shadow: 0 0 3px #726d6d;
}

.contact__box .contact__adress {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #000489;
}
.contact__box .contact__adress .txt {
  margin: 0;
  padding: 0;
  line-height: 2em;
}

.contact__adress a {
  color: #000489;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.form__field {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.form__field:last-of-type {
  width: 100%;
}

.form__label {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #000489;
  padding: 1rem 0 0.8rem 0;
}

.form__input {
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid grey;
}
.form__input:focus {
  outline: none;
  border-bottom: 1px solid red;
}
.form__input::-moz-placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #000489;
  color: #808080;
}
.form__input:-ms-input-placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #000489;
  color: #808080;
}
.form__input::placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #000489;
  color: #808080;
}

.form__button {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #111576;
  padding: 5px 10px;
  background-color: #0da109;
  border: none;
  border-radius: 8px;
  color: #fff;
  align-self: flex-end;
  cursor: pointer;
  margin-top: 1rem;
  transition-duration: 0.5s;
}
@media (min-width: 750px) {
  .form__button {
    align-self: flex-start;
  }
}

.form__button:hover {
  box-shadow: 0 0 5px 3px #726d6d;
}

.form__button:active {
  transform: scale(1.1);
  outline: none;
}

.footer__container {
  height: 80px;
  box-shadow: 0 -3px 6px #726d6d;
}

.footer {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contact {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #111576;
}

.footer__logo__box {
  height: 80px;
}

.footer__logo {
  width: auto;
  height: 100%;
}

.copyright {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
  color: #111576;
  color: #726d6d;
}
/*# sourceMappingURL=main.css.map */
