@keyframes img-change-1 {
  0% {
    opacity: 1;
  }
  14.2857% {
    opacity: 0;
  }
  28.5714% {
    opacity: 0;
  }
  42.8571% {
    opacity: 0;
  }
  57.1428% {
    opacity: 0;
  }
  71.4285% {
    opacity: 0;
  }
  85.7142% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes img-change-2 {
  0% {
    opacity: 0;
  }
  14.2857% {
    opacity: 1;
  }
  28.5714% {
    opacity: 0;
  }
  42.8571% {
    opacity: 0;
  }
  57.1428% {
    opacity: 0;
  }
  71.4285% {
    opacity: 0;
  }
  85.7142% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes img-change-3 {
  0% {
    opacity: 0;
  }
  14.2857% {
    opacity: 0;
  }
  28.5714% {
    opacity: 1;
  }
  42.8571% {
    opacity: 0;
  }
  57.1428% {
    opacity: 0;
  }
  71.4285% {
    opacity: 0;
  }
  85.7142% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes img-change-4 {
  0% {
    opacity: 0;
  }
  14.2857% {
    opacity: 0;
  }
  28.5714% {
    opacity: 0;
  }
  42.8571% {
    opacity: 1;
  }
  57.1428% {
    opacity: 0;
  }
  71.4285% {
    opacity: 0;
  }
  85.7142% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes img-change-5 {
  0% {
    opacity: 0;
  }
  14.2857% {
    opacity: 0;
  }
  28.5714% {
    opacity: 0;
  }
  42.8571% {
    opacity: 0;
  }
  57.1428% {
    opacity: 1;
  }
  71.4285% {
    opacity: 0;
  }
  85.7142% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes img-change-6 {
  0% {
    opacity: 0;
  }
  14.2857% {
    opacity: 0;
  }
  28.5714% {
    opacity: 0;
  }
  42.8571% {
    opacity: 0;
  }
  57.1428% {
    opacity: 0;
  }
  71.4285% {
    opacity: 1;
  }
  85.7142% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes img-change-7 {
  0% {
    opacity: 0;
  }
  14.2857% {
    opacity: 0;
  }
  28.5714% {
    opacity: 0;
  }
  42.8571% {
    opacity: 0;
  }
  57.1428% {
    opacity: 0;
  }
  71.4285% {
    opacity: 0;
  }
  85.7142% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes img-change-8 {
  0% {
    opacity: 0;
  }
  14.2857% {
    opacity: 0;
  }
  28.5714% {
    opacity: 0;
  }
  42.8571% {
    opacity: 0;
  }
  57.1428% {
    opacity: 0;
  }
  71.4285% {
    opacity: 0;
  }
  85.7142% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}