.contact {
  .row {
    .title {
      padding-bottom: 0;
    }
  }
  .contact__box {
    padding: 1rem;
    .company__name {
      padding-top: 0;

    }
  }
}

.company__name {
  @include font-title(2rem, $font-bold);
  text-align: left;

  span {
    font-size: 1.5rem;
    font-weight: $font-light;
  }
}

.contact__box {
  .contact__adress {
    @include font-txt(1rem, $font-regular);

    .txt {
      margin: 0;
      padding: 0;
      line-height: 2em;
    }
  }
}
                                                              //FORM
.contact__form {
  display: flex;
  flex-direction: column;
}

.form__field {
  display: flex;
  flex-direction: column;
  width: 50%;

  &:last-of-type {
      width: 100%;
  }
}

.form__label {
  @include font-txt(1rem, $font-regular);
  padding: 1rem 0 .8rem 0;
}

.form__input {
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid grey;

  &:focus {
    outline: none;
    border-bottom: 1px solid red;
  }

  &::placeholder {
    @include font-txt(1rem, $font-light);
    color: $color-placeholder;
  }
}

.form__button {
  @include font-title(1rem, $font-bold);
  padding: 5px 10px;
  background-color: $color-btn;
  border: none;
  border-radius: $radius-main;
  color: #fff;
  align-self: flex-end;
  cursor: pointer;
  margin-top: 1rem;
  transition-duration: .5s;

  @media (min-width: 750px) {
    align-self: flex-start;
  }
}

.form__button:hover {
  box-shadow: 0 0 5px 3px $color-shadow;
}

.form__button:active {
  transform: scale(1.1);
  outline: none;
}
