.main__container {
  width: 100%;
  padding: 15px;

  @media (min-width: 1200px) {
    max-width: 1200px;
    padding: 2rem 0;
    margin: 0 auto;
  }
}

//.box__img {
//  width: 100%;
//  max-height: 460px;
//  margin: 0 auto;
//}

.img {
  width: 100%;
  height: auto;
}

.title {
  @include font-title(2rem, $font-bold);
  text-align: center;

}

@for $i from 1 through 4 {
  h#{$i} {
    font-size: 3rem - .5;
  }
}

.txt {
  @include font-txt(1rem, $font-regular);
  margin-top: 2rem;
}

