$tablet: 750px;
$laptop: 1024px;
$fullHD: 1900px;


$columns: 12;
$column-base-width: 100% / $columns;
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  .row {
    display: flex;
    flex-wrap: wrap;
    [class*='col-'] {
      min-height: 1px;
      padding: 2rem 1rem;

      @media (min-width: $tablet) {
        padding: 2rem;
      }
    }
    @for $i from 1 through $columns {
      .col-xs-#{$i} {
        width: $column-base-width * $i;
      }
    }
    @for $i from 1 through $columns {
      @media (min-width: $tablet) {
        .col-sm-#{$i} {
          width: $column-base-width * $i;
        }
      }
    }
    @for $i from 1 through $columns {
      @media (min-width: $laptop) {
        .col-md-#{$i} {
          width: $column-base-width * $i;
        }
      }
    }
    @for $i from 1 through $columns {
      @media (min-width: $fullHD) {
        .col-lg-#{$i} {
          width: $column-base-width * $i;
        }
      }
    }
  }
}