.offer {
  background-color: $color-background;
  padding-top: 100px;
}

.offer__box__img {
  border-radius: 50%;

  @media (min-width: 750px) {
    height: 215px;
  }
}

.offer__img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 6px $color-shadow;
}

.offer__title {
  text-align: center;
  margin-top: 2rem;
}

.offer__txt {
  text-align: justify;
}

.offer__row {

  @media (min-width: 750px) and (max-width: 1023px) {

    .offer__column:last-child {
      display: inline-block;

      &::after,
      &::before {
        content: "";
        display: block;
        clear: both;
      }

      .offer__box__img,
      .offer__img {
        border-radius: 0;
        float: left;
        width: 305px;
        height: auto;
        margin: 0 1em 0 0;
      }

      .offer__title {
        margin: 0 0 2rem 2rem;
        line-height: 1em;
      }
    }
  }
}
