.offer {
  background-color: $color-background;
  padding-top: 100px;
}

.offer__box__img {
  border-radius: 50%;

  @media (min-width: $tablet) {
    height: 215px;
  }
}

.offer__img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 6px $color-shadow;
}

.offer__title {
  text-align: center;
  margin-top: 2rem;
}

.offer__txt {
  text-align: justify;
}

@media (min-width: $tablet) and (max-width: $laptop) {

  .offer__column {

    &::after,
    &::before {
      content: "";
      display: block;
      clear: both;
    }
  }

  .offer__box__img,{
    float: left;
    width: 305px;
    height: auto;
    margin: 0 1em 0 0;
  }

  .offer__img {
    border-radius: 0;
  }

  .offer__title {
    margin: 0 0 2rem 2rem;
    line-height: 1em;
  }
}