.upMenu {
  margin-top: 0;
  height: 80px;
  box-shadow: 0 3px 6px $color-shadow;
}
.upMenu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.upMenu__logo {
  @include font(1.5rem, $font-weight-bold);
  line-height: 1.5rem;
  color: $color-logo;
}

.upMenu__menu-list {
  display: inline-block;
  margin-left: $main-margin;
}

a {
  @include font(1.5rem, $font-weight-bold);
  text-transform: uppercase;
  color: $color-primary;
  transition-duration: .5s;

  &:hover {
    color: red; //to remove, but why scale dont work??? duration,color is working... why scale not????!!!!
    transform: scale(1.5);
  }
}

