//SEPARATING, RADIUS
$padding-main: 2rem;
$margin-main: 2rem;

$radius-main: 8px;

//COLORS
$color-primary: #0000ff;
$color-accent: #008000;
$color-title: #ff0000;
$color-shadow: #ff4500;
$color-logo: #008000;
$color-hamburgerMenu: #444;
$color-menuBackground: #fff;
$color-placeholder: #808080;
$color_background-gallery: #000;

//FONT
$font-regular: 400;
$font-bold: 700;
$font-light: 300;

//MIXINS
@mixin font($size, $weight) {
  font-family: "Serif Pro", serif;
  font-size: $size;
  font-weight: $weight;
  line-height: 1.5 * $size;
  color: #000;
}

