//SEPARATING
$main-padding: 2rem;
$main-margin: 2rem;

//COLORS
$color-primary: #0000ff;
$color-accent: #008000;
$color-title: #ff0000;
$color-shadow: #ff4500;
$color-logo: #008000;

//FONT
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-light: 300;

//MIXINS
@mixin font($size, $weight) {
  font-family: "Serif Pro", serif;
  font-size: $size;
  font-weight: $weight;
  line-height: 1.5 * $size;
  color: #000;
}

