.realization {
  box-shadow: -3px 0 6px $color-shadow;
}

.realization__gallery {
  //background-color: transparent;
  padding: 15px;
  overflow: auto;
}

.galley__box {
  height: 500px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.realization__img {
  margin: 10px;
  height: 100%;
  width: auto;
}
